In [1]:
import pandas as pd
import numpy as np

In [2]:
data_1 = pd.read_csv("data_1.csv")
data_1 = data_1.drop(columns = ["Unnamed: 0"])
data_1.head()

,customer_id,customer_age,job_type,balance,having_loan,last_contact_duration,prev_campaign_outcome,num_contacts_in_campaign,num_contacts_prev_campaign,Predication
0,id_1895,33.0,9,804.0,0,826,2,3.0,1,1
1,id_33092,46.0,11,637.0,1,955,2,1.0,4,1
2,id_45113,62.0,7,5267.0,0,984,0,3.0,0,1
3,id_12016,37.0,10,2645.0,0,740,2,1.0,1,1
4,id_6592,29.0,8,339.0,0,689,2,1.0,1,1

In [3]:
data_1.shape

(727, 10)

In [4]:
data_2 = pd.read_csv("lk_data.csv")
data_2 = data_2.drop(columns = ["Unnamed: 0"])
data_2.shape

(745, 10)

In [5]:
df = pd.concat([data_1["customer_id"],data_2["customer_id"]],ignore_index = True).drop_duplicates()
df.shape

(947,)

In [16]:
df = pd.concat([data_1["customer_id"],data_2["customer_id"],df6["customer_id"]],ignore_index = True).drop_duplicates()
df.shape

(5499,)

In [21]:
df6 = pd.read_csv("data_2.csv")
df6

,Unnamed: 0,customer_id,customer_age,job_type,balance,having_loan,last_contact_duration,prev_campaign_outcome,num_contacts_in_campaign,num_contacts_prev_campaign,Predication
0,1,id_10523,46.0,9,656.000000,0,990,0,4.0,0,1
1,3,id_12681,65.0,7,2880.000000,0,913,0,1.0,0,1
2,4,id_2153,52.0,11,1779.000000,0,703,1,3.0,1,1
3,7,id_6701,45.0,5,10390.000000,1,702,0,1.0,0,1
4,9,id_13459,30.0,2,580.000000,1,740,1,1.0,6,1
...,...,...,...,...,...,...,...,...,...,...,...
5413,7762,id_29917,52.0,9,1764.000000,1,863,0,2.0,0,1
5414,7763,id_9275,50.0,10,401.000000,0,843,1,1.0,6,1
5415,7764,id_16678,56.0,5,227.000000,1,705,0,1.0,0,1
5416,7765,id_26369,28.0,6,1380.914454,1,879,0,1.0,0,1
5417,7766,id_31483,26.0,9,459.000000,0,997,3,1.0,8,1

In [17]:
df = df[:1000]

In [20]:
df

0        id_1895
1       id_33092
2       id_45113
3       id_12016
4        id_6592
          ...
1610    id_23162
1612    id_33375
1613    id_10535
1614    id_15172
1615    id_21590
Name: customer_id, Length: 1000, dtype: object

In [22]:
df.to_csv("top_1000_data.csv")